
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap');
body{
    margin: 0;
    font-family: 'Cinzel', serif;
    background:#110b06 ;

}
body*{
    box-sizing: border-box;
    background:#110b06 ;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background:#110b06 ;
    display: flex;
    justify-content:center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.left-login> h1 {
    font-size: 3vw;
    color: chocolate;
}

.left-login-image{
width: 35vw;

}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:20px 25px;
    background: #25180c;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #0c010171;

}
.card-login>h1{
    color: rgb(224, 118, 42);
    font-weight: 800;
    margin: 0;

}
.textfield{
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    padding:10px 0px;

}
.textfield>input{
    width: 100%;
    border:none ;
    border-radius: 3px;
    padding: 15px;
    background: #855d37;
    color: #2c1804;
    outline: none;
    box-sizing: border-box;
}
.textfield>label{
    color: burlywood;
    margin-bottom: 3px;
}
.textfield> input::placeholder {
color: rgb(218, 169, 106);
}

.btn-login {
    width: 70%;
    padding:10px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #25180c;
    background:chocolate;
    cursor: pointer;
    box-shadow: 0px 10px 40px #0c010160;
}
@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
    
}
@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login {
        display: none;
    }
    .left-login{
        width: 80%;
        height: auto;
    }
    .right-login{
        width: 80%;
        height: auto;
    }
    .left-login-image{
        width: 50vh;

    }
}
